body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

/* navbar */
.nav-bar{
  display: flex;
  justify-content: space;
  align-items: center;
  flex-wrap: wrap;
  padding: 8px;
  background-color: black;
  margin: 0;
}

.nav-bar-left{
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  margin-right: auto;
  flex: 1 1 auto;
}

.nav-bar img{ 
  height: 40px;
}

.links{
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  flex: 1 1 auto;
}

.links a{
  padding-right: 32px;
  color: white;
  font-size: 18px;
  text-decoration: none;
}

/* Top section of site */

.top-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.627),rgba(0, 0, 0, 1)) , url("/images/cropped-logo-topper.jpeg");
  background-position: center;
  background-size: stretch;
  margin: 0;
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5%;
}

.top-container img {
  height: 200px;
  width: 200px;
  object-fit: contain;
  border-radius: 15%;
  border: 2px solid orange;
  box-shadow: 10px 15px 23px 1px rgba(186,58,26,0.64);
}

.top-container-right{
  color: white;
  width: 300px;
}

.top-container button{
  background-color: rgba(226, 83, 26, 0.555);
  border: 1px solid white;
  border-radius: 5%;
  padding: 5px 15px 5px 15px;
}

.top-container button:hover{
  box-shadow: 10px 15px 23px 1px rgba(186,58,26,0.64);
  padding: 8px 17px 8px 17px; ;
}

/* Band member Section */

.band-members{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.band-members img {
  height: 200px;
  width: 200px;
  object-fit:cover;
  border-radius: 15%;
  border: 2px solid orange;
  box-shadow: 10px 15px 23px 1px rgba(186,58,26,0.64);
}